---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: esphome
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: ghcr.io/esphome/esphome
      tag: 2024.2.1@sha256:a3c97473f2c303c29c8bd96dc9d4803de14edff5c89b6069814656c2beebe5ce

    env:
      TZ: ${TZ}
      ESPHOME_DASHBOARD_USE_PING: true

    service:
      main:
        ports:
          http:
            port: 6052

    ingress:
      main:
        enabled: true
        annotations:
          # nginx.ingress.kubernetes.io/enable-global-auth: "false"
          # cert-manager.io/cluster-issuer: letsencrypt-production
          # external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_DOMAIN}"
          # external-dns/is-public: "true"
          ingress.home.arpa/type: "internal"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: "{{ .Release.Name }}-tls"
            hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: esphome-config-v1
