---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: zigbee2mqtt
  namespace: home
spec:
  values:
    additionalContainers:
      exporter:
        name: exporter
        image: docker.io/kpetrem/mqtt-exporter:latest@sha256:e5b5a02fba296635d7c151f5c155f798e77ca2e2909992d458f9a492fbb2e02c
        env:
          - name: LOG_LEVEL
            value: DEBUG
          - name: LOG_MQTT_MESSAGE
            value: "True"
          - name: MQTT_ADDRESS
            value: emqx.home.svc.cluster.local
          - name: MQTT_TOPIC
            value: "zigbee2mqtt/#"
          - name: MQTT_V5_PROTOCOL
            value: "True"
          - name: MQTT_USERNAME
            valueFrom:
              secretKeyRef:
                name: zigbee2mqtt-secrets
                key: mqtt_user
          - name: MQTT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: zigbee2mqtt-secrets
                key: mqtt_password
          - name: PROMETHEUS_PORT
            value: "9000"
          - name: PROMETHEUS_PREFIX
            value: zigbee2mqtt_
          - name: ZIGBEE2MQTT_AVAILABILITY
            value: "True"
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
          limits:
            memory: 200Mi
